body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  background-color: rgb(255,0,0, 0.1);
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  color: blue;
  width: 5em;
  background-color: rgba(0, 0, 0, 0.123);
}
main p {
  border-width: 5px;
  border-style: dashed;
  border-color: orange;
}
header {
  background-color: #ddd;
}
header, footer {
  padding: 1rem;
}
header nav a {
  margin-right: 1rem;
}
header nav a strong {
  color: yellow;
}
footer {
  height: 4rem;
  font-size: 80%;
  color: #777;
  text-align: center;
}
mark {
  display: block;
}
div p {
  width: 12rem;
  padding: 0.5rem;
  display: inline-block;
}